.app__form {
  display: flex;
  position: fixed;
  bottom: 20px;
  width: 97%;
  z-index: 1;
  margin: 10px;
  background-color: #e9e9eb;
}
.app__formcontrole{
    display: flex !important;
    flex-direction: row !important  ;
    align-items: center;
    width: 97%;
}
.app__iconbutton{
    flex: 0;
}
.app__input{
    flex:1
}
.app{
    text-align: center;
}
svg{
    z-index: 3;
    width: 50%;
    height: 50%;
    overflow: visible;
}